.env.local.not.work
.env*.local
.env
# metrics_private_repository.yml
# metrics_private_repository.svg
metrics_gaearon.svg
metrics_gaearon.yml
metrics_antfu.svg
metrics_antfu.yml
metrics_antfu_private_repository.svg
metrics_antfu_private_repository.yml
metrics_torvalds.svg
metrics_torvalds.yml
metrics_karpathy.svg
metrics_karpathy.yml
metrics_octocat.svg
metrics_octocat.yml
metrics_4Nov.svg
metrics_4Nov_1.svg
metrics_11Mar_anniversary.svg
metrics_private.svg
# metrics_apache*
metrics_apache.svg
metrics_apache_stored.svg
# metrics_rustdesk*
metrics_rustdesk.svg
metrics_servicerepository.yml
metrics_stored_13Feb2026*
metrics_stored_14Feb2026_*
metrics_stored_15Feb2026*
metrics_stored_ocean_blue_15Feb2026*

node_modules
.DS_Store
.vscode/settings.json
docker-compose.yml
Dockerfile
concepts.json
