.env.local
# metrics_private_repo.yml
# metrics_private.svg
metrics_gaearon.svg
metrics_gaearon.yml
# metrics_antfu.svg
# metrics_antfu.yml
metrics_antfu_private_repository.svg
metrics_antfu_private_repository.yml
metrics_torvalds.svg
metrics_torvalds.yml
metrics_karpathy.svg
metrics_karpathy.yml
metrics_octocat.svg
metrics_octocat.yml
metrics_halloween.svg

# for server running
node_modules
assets/
index.html
main.ts
package.json
package-lock.json

.DS_Store
