name: metrics
on:
  # push:
  #   branches:
  #     - prod
  schedule:
    - cron: "0 2,8,14,20 * * *"
  workflow_dispatch:

jobs:
  github-actions-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Metrics
        # uses: lowlighter/metrics@latest
        # uses: gh-metrics/metrics@master
        uses: actionhooks/lowlightermetrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          # config_presets: https://raw.githubusercontent.com/actionhooks/lowlightermetrics/presets/lunar-red/preset.yml
          config_presets: https://raw.githubusercontent.com/actionhooks/lowlightermetrics/presets/ocean-blue/preset.yml
          # Options
          filename: metrics.svg
          user: ttiimmothy
          base: header, activity, repositories, metadata
          base_indepth: yes
          config_timezone: Canada/Eastern
          config_twemoji: yes
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: no
          # plugin_achievements_threshold: X
          # plugin_achievements_threshold: C
          plugin_achievements_threshold: A
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          # repositories_skipped:
          # plugin_languages: yes
          # plugin_languages_indepth: yes
          # # plugin_languages_sections: most-used, recently-used
          # plugin_languages_sections: most-used
          # plugin_languages_details: lines, bytes-size, percentage
          # plugin_languages_recent_load: 1000
          # plugin_languages_recent_days: 30
          # plugin_languages_analysis_timeout: 60
          # plugin_languages_analysis_timeout_repositories: 15
          # plugin_languages_categories: markup, programming
          # plugin_languages_colors: github
          # plugin_languages_limit: 8
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          # plugin_notable: yes
          # plugin_notable_filter: stars:>100
          # plugin_notable_from: organization
          # plugin_notable_indepth: yes
          # repositories_batch: 50
          repositories_batch: 30
          use_prebuilt_image: yes
