name: metrics_private_repository
on:
  # push:
  #   branches:
  #     - prod
  schedule:
    - cron: "0 1,7,13,19 * * *"
  workflow_dispatch:

jobs:
  github-actions-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Metrics
        # uses: lowlighter/metrics@latest
        # uses: gh-metrics/metrics@master
        uses: actionhooks/lowlightermetrics@latest
        with:
          token: ${{ secrets.PRIVATE_REPO_METRICS_TOKEN }}
          config_presets: https://raw.githubusercontent.com/actionhooks/lowlightermetrics/presets/lunar-red/preset.yml
          filename: metrics_private_repository.svg
          user: ttiimmothy
          base: header, activity, repositories, metadata
          base_indepth: yes
          config_timezone: Canada/Eastern
          config_twemoji: yes
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: X
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_indepth: yes
          # plugin_languages_sections: most-used, recently-used
          plugin_languages_sections: most-used
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_recent_load: 1000
          plugin_languages_recent_days: 30
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 15
          plugin_lines: yes
          # plugin_lines_history_limit: 1
          # plugin_lines_repositories_limit: 4
          plugin_lines_sections: history
          use_prebuilt_image: yes
